<% layout("layouts/boilerplate")%>
<nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
    <div class="container-xxl d-flex align-items-md-center">
      <h1 class="position-relative me-auto text-center">
          All Campgrounds
      </h1>
        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Sort By
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item <%if(x==0){%>active <%}%>" href="/campgrounds/x=0">Newly Added</a></li>
              <li><a class="dropdown-item <%if(x==1){%>active <%}%>" href="/campgrounds/x=1">Older</a></li>
              <li><a class="dropdown-item <%if(x==2){%>active <%}%>" href="/campgrounds/x=2">Most Visited</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li> -->
            </ul>
          </div>
  </div>
</nav>
<div>
<!-- <div id="map" style="width: 100%; height: 500px"></div> -->
<div id="cluster-map"></div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for(let campground of campgrounds) { if(campground.img[0]!=undefined){%>
            <div class="col mg-8">
                <div class="card shadow-lg h-100">
                    <img class="img-fluid card-img-top" src="<%=campground.img[0].url%>" alt="">
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title%> </h5>
                    <p class="card-text">
                        <%=campground.description%>
                    </p>
                    <p class="card-text">
                        <small class="text-muted"><%=campground.location %> </small>
                    </p>
                </div>
                    <div class="card-footer">
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-outline-primary btn-md">View</a>
                    </div>
                </div>
            </div>
            <%} } %> 
        </div>
    </div>
</div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
</div>
